*{
    padding: 0;
    margin: 0;
}
.heading{
    text-align: center;color: red;
    background-color: blueviolet;
}
.inputbox {
        width:150px;
        height:25px;
        background-color: #A12A1E;
        color:White;
        margin:0 auto; 
        padding: 16px 32px; 
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
}
  
.button1 {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .button2 {
        background-color: #10dd92; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #04AA6D;
      }
      .button1:hover {
        background-color: #04AA6D;
        color: white;
      }
      .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #e40f20;
      }
      .button2:hover {
        background-color: #e40f20;
            color: white;
            
      }
      
    
   
